#newTodo{padding:10px;background:#F2EEEE;border;1px solid black;width:150px;margin:0;position:fixed;border-radius:0 0 5px 5px;text-align:center;top:-2px;box-shadow:1px 1px 4px rgba(0,0,0,.5);left:70px;}
#newTodo:hover{cursor:pointer;}
#newTodo:active{-moz-transform:translateY(1px);}