#newTodo{padding:10px;background:#F2EEEE;border;1px solid black;width:150px;margin:0;position:fixed;border-radius:0 0 5px 5px;text-align:center;top:-2px;box-shadow:1px 1px 4px rgba(0,0,0,.5);left:70px;}
#newTodo:hover{cursor:pointer;}
#newTodo:active{-moz-transform:translateY(1px);}
#wrap{width:100%;height:auto;margin-top:80px;}
#todoBox{width:45%;margin:20px;display:inline-block;padding:5px;border-radius:5px;}
#todoBox.low{border:1px solid #5387AE;background:rgba(159,189,215,.5);}
#todoBox #title{text-transform:uppercase;font-size:26px;cursor:pointer;}
#modifyInputBox{padding:10px;width:400px;background:#D2D1CF;top:-100px;position:fixed;left:300px;text-align:center;border-radius:0 0 5px 5px;box-shadow:0 2px 3px rgba(0,0,0,.5);}
#modifyInputBox #modifyInput{margin-right:20px;}
