<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href='css/style.css'></link>
	<link rel="stylesheet" type="text/css" href='css/bootstrap.min.css'></link>
	<link rel="stylesheet" type="text/css" href='css/humanity/jquery-ui-1.8.18.custom.css'></link>

	<script src="js/vendor/JQuery.js"></script>
	<script src="js/vendor/underscore.js"></script>
	<script src="js/vendor/backbone.js"></script>
	<script src="js/vendor/localStorage.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/vendor/jquery-ui-1.8.18.custom.min.js"></script>


	<script src="js/todo.js"></script>
</head>
<body>

<script type="text/template" id="todoTemplate">


<div id='newTodo'>Create a new Todo</div>
<div id='modifyInputBox'><input id='modifyInput' class='input-xlarge'><!--<button  id='save' class='btn btn-info'>Save</button>--></div>
<% _.each(all, function(t){ %>
	<div id='todoBox' class='<%= t.priority%>' data-id='<%=t.id%>'>
	<div id='left'>
	<div id='priority' style='top:60px'></div>
	</div>
	<div id ='right'>
	<div id='title'><%=t.title%></div>
	<div id='description'><%=t.description%></div>
	<div id='sub'>
	<div id='id'><%=t.id%></div>
	<div id='created_at'><%=formattedDate(t.created_at)%></div>
	</div>
	</div>
	</div>
	<% }); %>
	<% 
	%>
	</script>


	<div id='wrap'>
		<div id='newTodo'>Create a new Todo</div>
		<div id='modifyInputBox'><input id='modifyInput' class='input-xlarge'><button  id='save' class='btn btn-info'>Save</button></div>

	</div>
</body>
</html>